body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: inter;
    
}
html{
    scrollbar-width: normal;
    scrollbar-color: white #0F171C;
}
p{
    text-align: center;
    font-size: 35px;
}
#active{
    background-color: #a7a7a7;
}
.navbar ul{
    list-style-type: none;
    background-color: #b2ffb6;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
h1{
    text-align: center;
}
h1 a{
    text-decoration: none;
    color: black;
}
h2{
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #a7a7a7;
}
.navbar li{
    float: left;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
